/* ============================================
   HealthSync — My Wallet Page Styles
   ============================================ */

.zebra-row:nth-child(even) {
  background-color: rgba(0, 101, 101, 0.02);
}

body {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Manrope", sans-serif;
}
